.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}


/* Standard tags */

html {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Calibri, Arial, Verdana, Georgia, sans-serif;
    font-size: 16px;
    /* background-color: white;*/
    background-image: url("bg.png");
}

body {
    margin: 0;
    padding: 0;
    color: black;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-weight: bold;
    color: #005480;
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    font-size: 24px;
    font-weight: bold;
    background-color: #005480;
    color: white;
    text-indent: 5px;
    padding: 5px;
}

h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: #005480;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body p {
    text-align: left;
}


/* Print Button */

.printbuttonbar {
    display: none;
}


/* Overview page header */

.banner {
    margin: 0 10px 0 10px;
    padding: 0 0 20px 0;
    background-color: #005480;
}

.banner img {
    display: block;
}

.banner h1 {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    text-shadow: 4px 4px #53534a;
    font-weight: bold;
    font-size: 64px;
    color: white;
}

.banner p {
    margin: 0;
    padding: 10px 0 30px 0;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.banner button {
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    outline: 0;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: black;
}


/* Overview page: lesson objectives */

.body-objectives {
    width: 100%;
    margin: auto;
    padding: 0 10px 0 10px;
    color: black;
}

@media only screen and (min-width: 600px) {
    .body-objectives {
        width: 60%;
        margin: auto;
    }
}

.body-objectives h2 {
    color: #005480;
    font-weight: normal;
    font-size: 32px;
}

.body-objectives hr {
    display: block;
    position: relative;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    height: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #c4c3c3;
    border-bottom: 1px solid #ffffff;
}

.body-objectives ul {
    list-style: none;
}

.body-objectives li {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}

.body-objectives li::before {
    font-family: FontAwesome;
    content: "\f046";
    padding-right: 5px;
}


/* Overview page: table of contents */

.body-content {
    width: 100%;
    margin: auto;
    padding: 0 10px 0 10px;
    color: black;
}

@media only screen and (min-width: 600px) {
    .body-content {
        width: 60%;
        margin: auto;
    }
}

.body-content h2 {
    color: #005480;
    font-weight: normal;
    font-size: 32px;
}

.body-content hr {
    display: block;
    position: relative;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    height: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #c4c3c3;
    border-bottom: 1px solid #ffffff;
}

.body-content ul,
.body-content li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.body-content a {
    display: block;
    margin: 0;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #404040;
}

.body-content a:hover {
    background-color: #e2e2e2;
}

.body-content a:visited {
    color: #404040;
}


/* Overview page: footer, left and right columns, links & width adjustment */

.indexfooter {
    width: 100%;
    margin: 0;
    padding: 30px 10px 30px 10px;
    color: black;
    font-size: smaller;
}

.indexfooter ul {
    list-style: none;
    margin: 0;
    padding: 10px 5px 10px 10px;
}

.indexfooter p {
    padding: 0;
    margin: 0;
}

.indexfooter .fleft {
    text-align: left;
    padding: 0;
    margin: 0;
}

.indexfooter .fright {
    text-align: left;
    padding: 0;
    margin: 0;
}

.indexfooter img {
    padding: 0 0 10px 0;
    margin: 0;
}

.indexfooter a:link {
    text-decoration: none;
    color: black;
}

.indexfooter a:visited {
    color: black;
}

.indexfooter li:before {
    font-family: FontAwesome;
    content: "\f26c";
    padding-right: 2px;
}

@media only screen and (min-width: 600px) {
    .indexfooter .fright {
        text-align: right;
    }
    .indexfooter img {
        padding: 0;
        margin: 0;
    }
    .indexfooter {
        width: 60%;
        margin: auto;
    }
}


/* Main page header and footer */

.myheader {
    background-color: #005480;
    padding: 0 0 10px 0;
}

.myheader h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.myheader p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: white;
}

.myfooter {
    width: 100%;
    margin: 0;
    padding: 30px 10px 30px 10px;
    background: #53534a;
    color: white;
    font-size: smaller;
}

.myfooter ul {
    list-style: none;
    margin: 0;
    padding: 10px 5px 10px 10px;
}

.myfooter p {
    padding: 0;
    margin: 0;
}

.myfooter .fleft {
    text-align: left;
    padding: 0;
    margin: 0;
}

.myfooter .fright {
    text-align: left;
    padding: 0;
    margin: 0;
}

.myfooter img {
    padding: 0 0 10px 0;
    margin: 0;
}

.myfooter a:link {
    text-decoration: none;
    color: white;
}

.myfooter a:visited {
    color: white;
}

.myfooter li:before {
    font-family: FontAwesome;
    content: "\f26c";
    padding-right: 2px;
}

@media only screen and (min-width: 600px) {
    .myheader {
        padding: 0;
    }
    .myheader h1 {
        margin: 0;
        padding: 10px 10px 4px 10px;
        text-align: right;
    }
    .myheader p {
        margin: 0;
        padding: 4px 10px 10px 10px;
        text-align: right;
    }
    .myheader img {
        margin: 0;
    }
    .myfooter .fright {
        text-align: right;
    }
    .myfooter img {
        padding: 0;
        margin: 0;
    }
    .myfooter {
        margin: auto;
    }
}


/* Main page Navigation menu, add menu button and make vertical for smaller screens */

.topnav {
    overflow: hidden;
    background: #53534a;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 1;
}

.topnav span {
    display: block;
    float: left;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

.topnav a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

.topnav a:hover {
    background: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
    }
    .topnav.responsive .icon {
        /* display: block; */
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive span {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* On-This-Page menu */

.pagetoc {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: black;
    border-style: none;
}

.pagetoc p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    background-color: #53534a;
    color: white;
}

.pagetoc ul {
    margin: 0;
    padding: 5px;
    border-style: solid;
    border-color: #53534a;
    border-width: 1px;
    background-color: white;
    font-weight: bold;
    list-style: none;
}

.pagetoc li {
    margin: 0;
    padding: 0;
}

.pagetoc a {
    margin: 0;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: black;
}

.pagetoc a:hover {
    background-color: #e2e2e2;
}

.pagetoc a:visited {
    color: black;
}

@media only screen and (min-width: 600px) {
    .pagetoc {
        float: right;
        width: auto;
        min-width: 200px;
        max-width: 300px;
        padding: 0 0 10px 10px;
    }
}


/* Main page container for lesson pages */

.mainbody {
    margin: 10px;
    padding: 1px 10px 1px 10px;
    background-color: white;
}


/*
.mainbody p {
    text-align: left;
}
*/

.mainbody img {
    max-width: 100%;
    height: 100%;
}


/* YouTube video iframe wrapper for responsive size */

.vid-wrap {
    max-width: 560px;
    margin: 0 auto;
}

.vid-cont {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.ratio-16x9 {
    padding-bottom: 56.25%;
}

.ratio-4x3 {
    padding-bottom: 75%;
}

.vid-cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* YouTube video iframe wrapper for responsive size */

.ggb-wrap {
    max-width: 795px;
    margin: 0 auto;
}

.ggb-cont {
    position: relative;
    padding: 0;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}

.ggb-cont iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Header and Footer for widgets*/

.mainbody .widget-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.mainbody .widget-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 80%;
}

.mainbody .def-eqn {
    margin: 0 0 20px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #005480;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    background-color: #ffefdb;
}

.mainbody .example {
    margin: 0 0 20px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #005480;
    border-radius: 15px;
    padding: 5px 20px 15px 20px;
    background-color: white;
}

.mainbody .sollabel {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    background-color: #53534a;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #53534a;
    color: white;
}

.mainbody .solcont {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0 0 10px 10px;
    border-color: #53534a;
    padding: 0 15px 20px 15px;
}

.mainbody .example .solution input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 25px;
    opacity: 0;
    cursor: pointer;
}

.mainbody .example .solution input[type=checkbox]:checked~.sollabel:before {
    font-family: FontAwesome;
    content: "\f150";
    padding-right: 2px;
}

.mainbody .example .solution input[type=checkbox]~.sollabel:before {
    font-family: FontAwesome;
    content: "\f151";
    padding-right: 2px;
}

.mainbody .example input:checked~.solcont {
    max-height: 0;
    opacity: 0;
}


/* Responsive Tall Tables */

@media only screen and (max-width: 600px) {
    .ltables table,
    .ltables caption,
    .ltables th,
    .ltables td,
    .ltables tr {
        display: block;
    }
    .ltables {
        width: 100%;
        border-bottom: 5px solid #005480;
    }
    .ltables th {
        border-bottom: 1px solid white;
    }
    .ltables td {
        border: 0;
        padding: 15px 0 15px 0;
    }
    .ltables tr {
        border-bottom: 1px solid #005480;
    }
}


/* Responsive Wide Div Tables */

.tblTable {
    display: table;
}

.tlbCap {
    display: table-caption;
    text-align: center;
}

.tblRow {
    display: table-row;
}

.tblHead {
    display: table-cell;
}

.tblCell {
    display: table-cell;
    text-align: center;
}

.tblHeading {
    display: table-header-group;
}

.tblBody {
    display: table-row-group;
}

.tblFoot {
    display: table-footer-group;
}

.styledtable-hrborder1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
    background-color: white;
}

.styledtable-hrborder1 .tblRow {
    width: 100%;
}

.styledtable-hrborder1 .tblCap {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.styledtable-hrborder1 .tblHead {
    width: 100%;
    margin: 0;
    padding: 5px;
    display: block;
    background-color: #005480;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.styledtable-hrborder1 .tblCell {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: black;
    text-align: left;
    border-bottom: 1px solid #005480;
}


/* Tables styles: no border, horizontal borders with padding, collapsed horizontal borders & full borders */

.styledtable-noborder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-spacing: 5px;
    background-color: white;
}

.styledtable-noborder caption {
    font-weight: bold;
    font-size: 150%
}

.styledtable-noborder th {
    width: auto;
    padding: 5px;
    background-color: #005480;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.styledtable-noborder td {
    width: auto;
    padding: 5px;
    color: black;
    text-align: left;
}

.styledtable-hrborder1 {
    width: 80%;
    margin: 0 0 20px 0;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
    background-color: white;
}

.styledtable-hrborder1 caption {
    font-weight: bold;
    font-size: 150%
}

.styledtable-hrborder1 th {
    width: auto;
    padding: 5px;
    background-color: #005480;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.styledtable-hrborder1 td {
    width: auto;
    padding: 5px;
    color: black;
    text-align: left;
    border-bottom: 1px solid #005480;
}

.styledtable-hrborder2 {
    width: 80%;
    margin: 0 0 20px 0;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
}

.styledtable-hrborder2 caption {
    font-weight: bold;
    font-size: 150%
}

.styledtable-hrborder2 th {
    width: auto;
    padding: 5px;
    background-color: #005480;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.styledtable-hrborder2 td {
    width: auto;
    padding: 5px;
    color: black;
    text-align: left;
}

.styledtable-hrborder2 tr {
    border-bottom: 1px solid #005480;
}

.styledtable-border {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #005480;
    border-collapse: collapse;
    background-color: white;
}

.styledtable-border caption {
    font-weight: bold;
    font-size: 150%
}

.styledtable-border th {
    width: auto;
    padding: 5px;
    background-color: #005480;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.styledtable-border td {
    width: auto;
    padding: 5px;
    color: black;
    text-align: left;
    border: 1px solid #005480;
}


/* Sidepanel On-This-Page menu */

.sidepanel {
    width: 250px;
    position: fixed;
    z-index: 1;
    height: 200px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -220px;
    background: #005480;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    border-radius: 0 15px 15px 0;
    color: white;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel:hover {
    left: 0px;
}

.inner {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    width: 130px;
    color: white;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-150%) rotate(90deg);
}

.edgetab {
    float: right;
    position: relative;
    /* display: inline-block; */
    width: 20px;
    height: 100%;
    padding-right: 5px;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}


/* For tablets: */

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}


/* For desktop: */

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}